/*///////////////////////// Estilos generales /////////////////////////*/
body, html{
	background-color: blue;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 16px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    color: #333;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -46px;
    padding-left: 300px;
    transition: all ease .3s;
}
.main {

}

strong {
    font-weight: 900;
}

.collapse-btn {
    margin-left: 20px;
    float: left;
}

.side-nav {
    transform: translateX(0);
    background: #1e1e2d;
    color: white;
    height: 100%;
    transition: all ease .3s;
}

body.active .wrapper {
    padding-left: 0;
    transition: all ease .3s;
}

body.active .side-nav {
    transform: translateX(-300px);
    transition: all ease .3s;
}

.side-nav > ul > li > a:hover {
    background: #161625;
    color: white;
}

.side-nav .collapsible-header {
    position: relative;
}

.side-nav .collapsible-header.active .icon-right {
    transform: rotate(90deg);
    transition: all ease .3s;
}

.side-nav .collapsible-header .icon-right {
    position: absolute;
    right: 0;
    top: 0;
    transition: all ease .3s;
}

.side-nav-logo {
    text-align: center;
    height: 63px;
    line-height: 63px;
}

.side-nav-user {
    padding: 20px 10px 20px 26px;
    display: flex;
    align-items: center;
    background-color: #161625;
}

.side-nav-user .subheader {
    margin-left: 15px;
    color: white;
    font-size: 1.2rem;
}

.app-footer {
    color: white;
    background: #274a5a;
    height: 46px;
    line-height: 10px;
    font-size: .9rem;
    box-sizing: border-box;
    padding-left: 300px;
}
.app-footer div {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: baseline;
}
.full-width{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}
.nav-wrapper{
    background: #084d6e;
}

.page-footer .footer-copyright {
    justify-content: space-between;
    font-size: .9rem;
}


.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(248, 243, 243, 0.5);
}

#reporteM{
	margin-left:15px;

}

#controlM{
	margin-left:15px;
}

.side-nav li > a {
    color: rgba(222, 232, 233, 0.7);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    /* font-family:Lucida Calligraphy; */
}
.side-nav li > a .material-icons {
    margin-right: 20px !important;
}
.fondo1 {
	background-color: #084d6e;
    padding-left: 44px !important;
 }
#div{

	padding: 0px;
	margin: 0px;
}
.side-nav .divider {
    margin: 0 0 0 0;
}

#logo{

	margin-top: 2px;
	width: 120px;
	height: 120px;
	content: center;

}
#nomlog{
	color: orange;
	font-size: 25px;
	/* font-family:Cooper Black; */
}
#nomlog1{
	color:#96cbe4;;
	font-size: 25px;
	/* font-family:Cooper Black; */
}

#usuario{
	margin-top: 2px;
	 border: 2px solid #85848c;

}
#pie{
	/* font-family:Footlight MT Light; */

}

#pie2{
	/* font-family:Segoe Print; */
	background: #063c4b;

}
/* este era tus estilos q estabas llamando en estadisticas.php, yo lo estoy simplicando y ordenando en susu solo archivo*/
#contenido {
    background: #f0f0f0;


}
nav .brand-logo {
    position: absolute;
    color: #61626b;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0;
    margin-left:10px;
    /* font-family:Lucida Calligraphy; */

    border-radius:40px;
}

#cabezafor {
    color: #6f0d01;
     /* font-family:Times New Roman; */
}

.pt-field {
    padding-top: 26px !important;
}

h4 {
    font-size: 1.8rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
    margin-top: 1.14rem;
    /* font-family:Baskerville Old Face; */
    color: #1b3981;
    /* text-align: center */
}
h5 {
    font-size: 1.3rem;
    line-height: 1.8rem;
}
#modal1{

    background: #ebeef2;
}
.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #c8c8c9;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
}
/*asta aqui es el fin */

/*#1b29cb*/
.tabs .tab a {
    color: #1b29cb;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    transition: color .28s ease;
    background: rgb(237, 239, 245);
}
.tabs .tab a:hover{
    color: #5d6e74 !important;
    background: rgb(237, 239, 245);
}
.tab a.active {
    background-color: transparent !important;
    color: #5d6e74 !important;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #1b29cb;
    will-change: left, right;
}
#contpedido{
    background: rgb(237, 239, 245);
    box-shadow: 1px 3px 3px #677474;
    border-radius: 5px;
}
#contpedido .row{
    margin: 10px;
    padding: 10px;
}
input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type="text"]:not(.browser-default):disabled, input[type="text"]:not(.browser-default)[readonly="readonly"], input[type="password"]:not(.browser-default):disabled, input[type="password"]:not(.browser-default)[readonly="readonly"], input[type="email"]:not(.browser-default):disabled, input[type="email"]:not(.browser-default)[readonly="readonly"], input[type="url"]:not(.browser-default):disabled, input[type="url"]:not(.browser-default)[readonly="readonly"], input[type="time"]:not(.browser-default):disabled, input[type="time"]:not(.browser-default)[readonly="readonly"], input[type="date"]:not(.browser-default):disabled, input[type="date"]:not(.browser-default)[readonly="readonly"], input[type="datetime"]:not(.browser-default):disabled, input[type="datetime"]:not(.browser-default)[readonly="readonly"], input[type="datetime-local"]:not(.browser-default):disabled, input[type="datetime-local"]:not(.browser-default)[readonly="readonly"], input[type="tel"]:not(.browser-default):disabled, input[type="tel"]:not(.browser-default)[readonly="readonly"], input[type="number"]:not(.browser-default):disabled, input[type="number"]:not(.browser-default)[readonly="readonly"], input[type="search"]:not(.browser-default):disabled, input[type="search"]:not(.browser-default)[readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
    color: rgba(41, 31, 31, 0.81) !important;
    border-bottom: 1px dotted rgba(26, 20, 20, 0.9) !important;
}
#advertencia{
    background: rgba(227, 214, 212, 0.9);
    box-shadow: 1px 3px 3px #677474;
    border-radius: 5px;
    padding: 10px;
}
#btn1{color:#084D6E !important;}
#btn2{color:crimson !important;}
.red {
    color:crimson;
}
#col1{padding: 0px !important;margin: 0px;width: 40px;}

#formeliminar{
    top: 35% !important;
    width: 328px;
    height: 126px;
    border-radius: 6px;
}
#formeliminar .modal-content {
    padding: 12px;
    margin-bottom: 0px;
}
#formeliminar .modal-footer{
   margin-top: 21.5px !important;
}
#formeliminar .modal-footer .row{
   margin-bottom: 0px;
}
#formeliminar .modal-footer .row .col{
   align-content: center !important;
}
#formeliminar .modal-footer .row .col a{
   align-content: center !important;
   margin-right: 12px !important;
   width: 140px;
   font-size: 10px;
}
#formeliminar .modal-footer .row .col a i{
   margin: 0px !important;
   padding: 0px;
}
.pagination li.active {
    background-color: #084d6e;
    padding: 0 3px;
}
.backdrop{background: #3f758f !important;}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #084D6E;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}
.btn:hover, .btn-large:hover {
    background-color: #2A73F2CC;
}
.txterror{margin-bottom: 0px !important;}
/*.error{
    color: #ef1007e6 !important;
    font-size: 11px;
}*/
.warning{
    /*border-color: #333939 !important;*/
    color: #ff2400 !important;
    font-size: 11px;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #142de7;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    background: rgba(208, 210, 243, 0.9);
}
#avanzadoform{
    border :solid 1px rgba(51,51,51,0.12);
    background: rgba(220, 220, 248, 0.27);
    padding: 5px;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 2px 2px #b2b4b4;
}
.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 70% !important;
    border-radius: 0;
    will-change: bottom, opacity;
}
#fompedido .modal-content .striped tr td{
    padding: 0px 20px !important;
    margin: 0px !important;
    color: blue;
}
#fompedido .modal-content .striped tr th{
    padding: 0px 20px !important;
    margin: 0px !important;
    color: black;
}
/*copia de otroestilo*/
.tile,
.tile-icon,
.tile-caption,
.tile-link{
    margin: 0;
    padding: 0;
}
.tile-icon,
.tile-caption{
    height: 110px;
    position: absolute;
    top: 0;
    color: #7683CA;
}
.tile{
    margin: 5px;
    display: inline-block;
    width: 200px;
    height: 150px;
    background-color: #fff;
    border: 1px solid rgba(63,81,181,.3);
    position: relative;
}
.tile-icon{
    left: 0;
    width: 100px;
}
.tile-icon i{
    height: 100%;
    width: 110px;
    line-height: 110px;
    font-size: 50px;
}
.tile-caption{
    right: 0;
    width: 200px;
}
.tile-caption span input:not([type]):disabled{
    height: 60px;
    width: 100%;
    display: block;
    line-height: 60px;
    font-size: 35px;
    border-bottom: 0px !important;
    color: rgba(21, 56, 209, 0.8) !important;
}
.tile-caption p{
    height: 50px;
    margin: 0;
    padding: 0;
}
.tile-link{
    color: #fff;
    background-color: #3F51B5;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 40px;
    line-height: 40px;
    width: 100%;
    transition: all .3s ease-in-out;
}
.tile-link:active,
.tile-link:focus{
    outline: none;
}
.waves-effect.waves-brown .waves-ripple {
   /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: rgba(121, 85, 72, 0.65);
}
.divform{
    border: 1px solid #00000080;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #b2b4b4;
    background-color: rgba(128, 130, 167, 0.11);
}
  /* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
.input-field input[type=email]:focus + label {
    color: #000;
}
.input-field input[type=password]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=email].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=email].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}
#rowreportes{
    margin-bottom: 0px !important;
}
.cuerpo-wrapper{
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px)) !important;
}

/* Cuenta */

.cuenta-info {
    margin-top: 20px;
}

.col.cuenta-pass {
    margin-top: 15px;
    padding: 0;
}

.card.cuenta-info .card-image img {
    max-width: 180px;
    border-radius: 50%;
    margin: 10px;
}

.cuenta-info .card-stacked {
    display: flex;
    justify-content: center;
}

.cuenta-info span {
    margin: 0 0 0 20px;
    font-size: 1.6rem;
}

.logs td strong {
    text-transform: uppercase;
}

.alert {
    font-size: 1.1rem;
    padding: 12px 15px;
    margin: 15px 0;
}

.alert-info {
    border: 1px solid #1b3981;
    color: #1b3981;
    background-color: #e2e6f0;
}

.pagination {
    text-align: right;
}

.slides li{
    position: relative;
    height: 520px !important;
}
.slides li::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0px 20px -130px 0px; 
    background-color: #e0e0e0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}